<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
</head>
<body>
        <nav class="navbar navbar-expand-sm navbar-light bg-light" >
        <a class="navbar-brand" href="#">
            <img src="images/Logo Aziziyah.jpg" style="height: 40px;" alt="">
            Pondok Pesantren Al-Aziziyah
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Lembaga Pendidikan
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="profilmqwh">Madrasah Qur'an Wal Hadits</a>
                        <a class="dropdown-item" href="#">Ma'had 'Aly</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Madrasah Tsanawiyah</a>
                        <a class="dropdown-item" href="#">Madrasah Aliyah</a>
                        <a class="dropdown-item" href="#">Sekolah Tinggi Ilmu Tarbiyah</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Galeri Photo<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pembayaran<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Ketik disini ... " aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Mencari</button>
            </form>
        </div>
    </nav>

    <div class="jumbotron">
        <h1 class="display-4">Assalamu alaikum!</h1>
        <p class="lead">Selamat datang di website resmi Pondok Pesantren Al-Aziziyah</p>
        <hr class="my-4">
        <p>Alamat : Desa Gunungsari, Kecamatan Gunungsari, Kabupaten Lombok Barat, Provinsi Nusa Tenggara Barat</p>
        <a class="btn btn-primary btn-lg" href="selayangpandang.html" role="button">Selayang Pandang</a>
    </div>

    <hr class="my-4">
    <p style="text-align: center;">website resmi Pondok Pesantren Al-Aziziyah</p>
</body>
</html>