<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil MQWH</title>
    <script src="jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light" >
        <a class="navbar-brand" href="home">
            <img src="images/Logo Aziziyah.jpg" style="height: 40px;" alt="">
            Pondok Pesantren Al-Aziziyah
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Lembaga Pendidikan
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="profilmqwh">Madrasah Qur'an Wal Hadits</a>
                        <a class="dropdown-item" href="#">Ma'had 'Aly</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Madrasah Tsanawiyah</a>
                        <a class="dropdown-item" href="#">Madrasah Aliyah</a>
                        <a class="dropdown-item" href="#">Sekolah Tinggi Ilmu Tarbiyah</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Galeri Photo<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pembayaran<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Ketik disini ... " aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Mencari</button>
            </form>
        </div>
    </nav>

    <div class="jumbotron">
        <h1 class="display-4">Madrasatul Qur'an Wal Hadits Al-Aziziyah</h1>
        <p class="lead">"Mencetak Generasi Ulama Penghafal Al-Qur'an"</p>
        <hr class="my-4">
        <p></p>
    </div>

    <div class="container" >
        <div class="row">
            <div class="col-2 border bg-light" style="text-align: left; margin-right: 30px;">
                <p style="margin-top: 20px;"><a href="profilmqwh.html">Profil MQWH</a></p>
                <p><a href="pengurusmqwh.html">Struktur Kepengurusan</a></p>
                <p><a href="gurumqwh.html">Data Guru</a></p>
            </div>
            <div class="col" style="text-align: justify;">
                <p style="margin-top: 20px;"><strong>Muqaddimah</strong></p>
<p>Paradigma baru dunia pendidikan yang hanya minitikberatkan  pada kecerdasan intelektual (IQ) telah membawa perkembangan bangsa ini ke arah yang jauh dari nilai-nilai moral dan keagamaan. Prosentase pendidikan keagamaan yang seharusnya menjadi prioritas bangsa ini agar tumbuh menjadi bangsa yang bermoral dan bermartabat dinilai sangat tidak berkeadilan (berkisar antara 5 – 15% baik di sekolah maupun di madrasah-madrasah). Realita seperti ini tentunya tidak selaras dan kontra produktif dengan tujuan Pendidikan Nasional yang menitikberatkan pada terbentuknya potensi manusia yang beriman, bertakwa serta berakhlak mulia.</p>
<p>Berawal dari kenyataan di atas dan dengan didasari niat ikhlas untuk memberikan konstribusi terbaik bagi perkembangan generasi penerus bangsa, maka Yayasan Pondok Pesantren Al-Aziziyah melalui Lembaga Pendidikan Madrasatul Qur’an Wal Hadits (MQWH) mencoba menawarkan kurikulum pembelajaran yang terbalik dengan pembelajaran pemerintah, dalam artian Pendidikan Keagamaan menjadi prioritas utama dan yang pertama dalam proses pembelajaran.</p>
<p><strong>Eksistensi dan Status</strong></p>
<p>Madrasatul Qur’an Wal Hadits (MQWH) merupakan Lembaga Pendidikan non-formal sekaligus merupakan Lembaga Pendidikan tertua yang bernaung di bawah Yayasan  Pondok Pesantren Al-Aziziyah. Seiring dengan Program Pemerintah tentang wajardiknas (Wajib Belajar 9 tahun), Madrasatul Qur’an Wal Hadits termasuk salah satu lembaga pendidikan non-formal yang mendapat rekomendasi pemerintah untuk menyelenggarakan program tersebut melalui Surat Keputusan Bersama (SKB) dua menteri yaitu Menteri Pendidikan Nasional dan Menteri Agama RI tentang Pondok Pesantren Salafiyah (PPS).</p>
<p>Dengan demikian, MQWH Al-Aziziyah meski merupakan lembaga pendidikan non-formal akan tetapi memiliki legalitas formal yang terimplementasikan dalam program Ujian Nasional pemerintah untuk Pondok Pesantren Salafiyah. Sehingga para santri Madrasatul Qur’an Wal Hadits (MQWH), khususnya bagi santri MQWH tingkat Wustho di akhir masa studinya akan mendapatkan dua buah ijazah yaitu ijazah formal yang setara dengan ijazah SMP/MTs dan ijazah non-formal (lokal).</p>

<p><strong>Visi, Misi, dan Tujuan</strong></p>

<i>Visi:</i>
<p>“Mencetak Ulama’ Penghafal Qur’an”</p>

<i>Misi:</i>
<p>   1. Memberikan modal awal atau spritual basic yang kuat bagi peserta didik melalui program menghafal Al-Qur’an.</p>
<p>    2. Memberikan pembelajaran dan penguasaan terhadap ilmu-ilmu dasar Bahasa Arab seperti Nahwu, Shorof, Balagoh, Muthola’ah dan lain sebagainya.</p>
<p>    3. Memberikan pembelajaran dan penguasaan terhadap ilmu-ilmu keislaman lainnya seperti Aqidah/Tauhid, Fiqih, Ushul Fiqih, Tafsir, Ulumut Tafsir/Ulumul Qur’an, Hadits dan Ulumul Hadits dan lain sebagainya.</p>
<p>    4. Memberikan pembelajaran dan penguasaan dasar terhadap ilmu-ilmu umum seperti Matematika, IPA, IPS, Teknoloki (Komputer) maupun Bahasa Inggris.</p>
<i> Tujuan:</i>
<p> Mewujudkan terbentuknya generasi Qur’ani yang mampu mengintegrasikan ajaran-ajaran Islam melalui pengamalan Imtaq dan Iptek.</p>

<p><strong> Masa Pendidikan dan Waktu Belajar</strong></p>

<i> Masa Pendidikan:</i>
<p> Madrasatul Qur’an Wal Hadits (MQWH) terdiri dari dua jenjang masa pendidikan, masing-masing 3 tahun yaitu:</p>
<p>    1. Tingkat Wustho (setara dengan SMP/MTs)</p>
<p>    2. Tingkat ‘Ulya (setara dengan SMA/MA)</p>

<i> Waktu Belajar:</i>
<p> Waktu pelaksanaan Proses Kegiatan Belajar Mengajar pada Madrasatul Qur’an Wal Hadits (MQWH) pagi dan siang hari dengan ketentuan sebagai berikut:</p>
<p>    1. Pagi (bagi santriwan) 	: jam 07.15 – 11.30 (wita)</p>
<p>    2. Siang (bagi santriwati)	: jam 13.15 – 17.30 (wita)</p>

<p><strong> Kurikulum Terapan, Bahan Ajar dan Mata Pelajaran</strong></p>

<i> Kurikulum dan Bahan Ajar:</i>
<p> Sebagai bentuk pengejawantahan terhadap visi, misi dan tujuan Madrasatul Quran Wal Hadits (MQWH) di atas, maka di buatlah suatu kurikum terpadu yang memadukan antara kurikulum Pondok Pesantren dan Kurikulum Wajardiknas 9 tahun yang tertuang dalam kurikulum program Pondok Pesantren Salafiyah (PPS) dengan kalkukasi 80% Ilmu-Ilmu keislaman dan Bahasa serta 20% ilmu-ilmu exact dan teknologi. Sedangkan bahan ajaran untuk ilmu-ilmu keislaman seluruhnya memakai kitab-kitab yang menggunakan teks Bahasa Arab dan tidak diperkenankan memakai teks terjemahan.</p>

<i> Mata Pelajaran Keislaman/Agama:</i>
<ul class="list-unstyled">
    <li>Kelas 1
        <ul>
            <li>Nahwu (Matan Al-Ajrumiyah)</li>
            <li>Shorof (Amtsilatul Jadidah)</li>
            <li>Aqidah (Akhlakul Banin/Banat)</li>
            <li>Fiqih (Matan Taqrib)</li>
            <li>Tajwid (Hidayatul Mustafid)</li>
            <li>Imla’</li>
            <li>Bhs. Arab (Durusul Lughoh) </li>
            <li> </li>

        </ul>
    </li>
    <li>Kelas 2
        <ul>
            <li>Nahwu (Sarah Dahlan)</li>
            <li>Shorof (Matan Bina’)</li>
            <li>Aqidah (Kitab As-Sa’adah)</li>
            <li>Fiqih (Fathul Qorib)</li>
            <li>Imla’ (Khot)</li>
            <li>Bhs. Arab (Arabiyah li An-Nasyi’in 1) </li>
            <li> Tafsir (Jalalain)</li>
            <li>Hadits (Bulughul Maram) </li>
            <li> </li>

        </ul>
    </li>
    <li>Kelas 3
        <ul>
            <li>Nahwu (Kawakib)</li>
            <li>Shorof (Matan Bina’)</li>
            <li>Aqidah (Jawahirul Kalamiyah) </li>
            <li>Fiqih (Fathul Qorib) </li>
            <li>Tajwid (Al-Burhan) </li>
            <li>Ushul Fiqh (Mabadi Awaliyah) </li>
            <li>Imla’ (Khot) </li>
            <li>Bhs. Arab (Arabiyah li An-Nasyi’in 2) </li>
            <li>Tafsir (Jalalain) </li>
            <li>Ushul Fiqh (Mabadi Awaliyah) </li>
            <li>Faroidh (Majmu’at Ar-Rowiyah) </li>
            <li>Hadits (Bulughul Maram) </li>

        </ul>
    </li>

</ul>
<p><strong> Tenaga Pengajar</strong></p>
<p> Tenaga pengajar pada Madrasatul Qur’an Wal Hadits (MQWH) adalah para Tuan Guru maupun asatidz yang memiliki keahlian di bidang masing-masing yang merupakan lulusan perguruan tinggi ataupun ma’had terkemuka baik di dalam maupun di luar negeri dengan kualifikasi pendidikan S.1 maupun S.2 diantaranya Ma’had NW Pancor, Ma’had Ishlahuddiny Kediri, Ma’had Sholatiyah dan Ma’had Al-Haram Makkah Al-Mukarramah serta Universitas Saddam Hussein Baghdad Irak, Universitas Islam Negeri (UIN) Jakarta, Universitas Mataram dan lainnya.</p>

</div>
        </div>
    </div>

    <hr class="my-4">
    <p style="text-align: center;">website resmi Pondok Pesantren Al-Aziziyah</p>

</body>
</html>